/*h1{
color: red;
}
h2{
color: #FFFF00;
}
.fondo1{
	background: #23115C ;
}
#texto{
	color:#BA620F;
}*/
.cabecera{
	background: #3b5998;
	font-size: 350%;
	color: white;
	padding-left: 75px;
	padding-top: 15px;

}
.pie{
	background: #3b5998;
	color: white;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	padding-top: 5px;
}
.cuerpo{
	margin: 0 auto;
	font-size: 280%;
	color:black;
	height: 650px;
	
}